/* Typography */
.font-tourney {
  font-family: "Tourney", sans-serif;
}

.tracking-wide {
  letter-spacing: 0.12em;
}

/* Navbar */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  font-weight: 600;
}

.navbar-nav .nav-link.active::before {
  --size: 8px;   /* the size on the corner */
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #919191;
  mask: conic-gradient(at var(--size) var(--size), rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - var(--size)) calc(100% - var(--size)), linear-gradient(#000 0 0) content-box;
}

/* Text decorate */
.mark {
  background-color: #fff;
  background-image: url("/images/mark.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.title-deco::before {
  content: '';
  display: inline-block;
  width: 56px;
  height: 6px;
  background-image: url("/images/title-deco-left-sm.png");
  vertical-align: middle;
  margin-right: 1rem;
}

.title-deco::after {
  content: '';
  display: inline-block;
  width: 56px;
  height: 6px;
  background-image: url("/images/title-deco-right-sm.png");
  vertical-align: middle;
  margin-left: 1rem;
}

@include media-breakpoint-up(md) {
  .title-deco::before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 6px;
    background-image: url("/images/title-deco-left-lg.png");
    vertical-align: middle;
    margin-right: 1rem;
  }

  .title-deco::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 6px;
    background-image: url("/images/title-deco-right-lg.png");
    vertical-align: middle;
    margin-left: 1rem;
  }
}

/* Background */
.bg-white-overlay {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.bg-service {
  background: linear-gradient(315deg, #1E1E1E 0%, #1E1E1E 49.97%, #000000 50%);
  padding: 0 30px;
  padding-top: 100%;
  position: relative;
}